body,
html {
    font-family: Helvetica, Arial, sans-serif;
}

.data {
    font-family: Inconsolata, Consolas, Monaco, monospace;
    background-color: #eee;
    padding: 1rem;
    width: auto;
    display: inline-block;
}

.data i {
    color: #aaa;
}